
// color 
$color-default: #1F2041;
$color-blue: #575871;
$color-grey: #8e8f9f;
$color-light-grey: #c7c7cf;
$color-white: #f4f4f5;
$color-purple: #BC9CFF;
$color-green: #6FCF97;
$gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

// text style
$browser-context: 16px; 
$h1: normal bold rem(24px)/rem(30px) 'Quicksand' sans-serif;
$h2: normal bold rem(19px)/rem(24px) 'Quicksand' sans-serif;
$h3: normal bold rem(12px)/rem(15px) 'Montserrat' sans-serif;
$body: normal normal rem(14px)/rem(24px) 'Montserrat' sans-serif;


// funtion px to rem

@function rem($size) {
    $remSize: $size/ 16px;
    @return #{$remSize}rem;
  }

// end funtion px to rem

body {
    font-family: 'Quicksand', sans-serif;
    font-family: 'Montserrat', sans-serif; 
}

// header navigation 


.header {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: rem(145px);
    height: -webkit-fill-available;
    background-color: $color-light-grey;
    z-index: 10;


    &__logo {
        display: flex;
        justify-content: center;
        margin-top: rem(48px);
    }
    }

    &__navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: rem(30px);

        &-menu {
            list-style-type: none;
            padding: 0;
        }

        &-item {
            display: block;
            text-decoration: none;
            color: $bg-default;
            margin: rem(10px);
        }

        &-item:hover {
            color: rgba(31, 32, 65, 0.5);
        }
    }
}

// style section 
.section__style {
    display: flex;
    justify-content: space-around;

}

// colors start

.square {
    width: rem(70px);
    height: rem(70px);
    border-radius: rem(6px);
}




.background-purple {
    background-color: #BC9CFF;
}

.green {
    color: #6FCF97;
}

.background-green {
    background-color: #6FCF97;
}

.default {
    color: $color-default;
}

.background-default {
    background-color: $bg-default;
}

.blue {
    color: #575871;
}

.background-blue {
    background-color: #575871;
}

.grey {
    color: #8e8f9f;
}

.background-grey {
    background-color: #8e8f9f;
}

.light-grey {
    color: #c7c7cf;
}

.background-light-grey {
    background-color: #c7c7cf;
}

.white {
    color: #f4f4f5;
}

.background-white {
    background-color: #f4f4f5;
}

/* colors end */