@import "default";

// room details page
.main__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 70px;
}


.slider {
    display: flex;
    height: 485px;
    overflow: hidden;
    &__img-main {
        width: 70%;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    &__img-rooms {
        width: 30%;
        display: flex;
        flex-direction: column;
        img {
            object-fit: cover;
            height: 50%;
        }
    }
}

.comments {
    width: 70%;
    &__title {
        display: flex;
        justify-content: space-between;
        p {
            color: $color-blue;
        }
    }
}
.avatarList-title {
    width: 100%;
}

.bullet {
    width: 40%;
}

.bullet__section {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    &-info {
        width: 40%;
        p {
            color: $color-blue;
        }
    }
}

.textList-box:last-child {
    border-bottom: none;
}

// Сheck 

.like__input:checked + .like__label .far {
    color: #BC9CFF;
    font-weight: 900;
}