body {
    font-family: 'Quicksand', sans-serif;
    font-family: 'Montserrat', sans-serif; 
}

.logo {
    margin: 30px 0 0 30px;
}

.nav {
    display: block;
    text-decoration: none;
    color: #1F2041;
}

.nav:hover {
    color: rgba(31, 32, 65, 0.5);
}

.colors {
    display: inline-block;
    position: absolute;
    width: 269.26px;
    height: 610px;
    left: 149.74px;
    top: 145px;
}
.square {
    width: 70px;
    height: 70px;
    border-radius: 6px;
}

.colors-name {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #1F2041;
    margin: 0;
}

.type {
    width: 403px;
    height: 321px;
    position: absolute;
    left: 846px;
    top: 145px;
}

.type-style {
    display: inline-block;
}

.colors-rgba {
    font-family: Quicksand;
    font-style: normal;
    font-size: 19px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #1F2041;
    margin: 0;
}

h1 {
    font-size: 24px;
    line-height: 30px;
    color: #1F2041;
}

h2 {
    font-size: 19px;
    line-height: 24px;
    color: #1F2041;
}

.main-text {
    font-size: 14px;
    color: #575871;
}

h3 {
    font-size: 12px;
    text-transform: uppercase;
    color: #1F2041;
}

