@import "default";

.body {
    padding: 0;
    margin: 0;
}

.menu__filter {
    width: 300px;
    margin-top: 30px;
}

.input__drop {
    width: 260px;
}

.select-dropdown {
    ul {
        width: 258px;
    }
}

.select-dropdown-title {
    width: 260px;
}

.rooms__box {
    display: flex;

}

.selector {
    padding: 0;
    width: 260px;

}
#slider-range {
    p {
       font-size: 12px;
        line-height: 14px;
        width: 264px;
        color: $color-grey;
    }
}

.checkbox {
    width: 222px;

}

.rooms {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    a {
        text-decoration: none;
    }
    h1 {
        width: 100%;
    }
}

.items {
    margin: 20px 10px;
    &__room {
        margin: 20px 10px;
    }
}

.pagination__block {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 70px;
}

.checkbox {
    margin: 10px 0;
}